[project]
	description = Wireshark dissector for any google protobuf messaging format | Repo Category: mandatory_review, History Protection: On
[access]
	inheritFrom = TF-Projects/proj1010
[access "refs/*"]
	read = group TF: Slider: Continuous_Integration
	read = group TF: Slider: Developer
	label-Code-Review = -2..+2 group TF: Slider: Continuous_Integration
	label-Code-Review = -2..+2 group TF: Slider: Developer
	label-Verified = -1..+1 group TF: Slider: Continuous_Integration
	label-Verified = -1..+1 group TF: Slider: Developer
	submit = group TF: Slider: Continuous_Integration
	submit = group TF: Slider: Developer
	viewDrafts = group TF: Slider: Continuous_Integration
	viewDrafts = group TF: Slider: Developer
	publishDrafts = group TF: Slider: Continuous_Integration
	publishDrafts = group TF: Slider: Developer
[access "refs/for/refs/*"]
	push = group TF: Slider: Continuous_Integration
	push = group TF: Slider: Developer
	rebase = group TF: Slider: Continuous_Integration
	rebase = group TF: Slider: Developer
[access "refs/meta/dashboards/128_technology(proj1013)"]
	read = deny group TF: Project Member of proj1013 (128_technology)
[access "refs/meta/dashboards/slider(proj1010)"]
	read = deny group TF: Project Member of proj1010 (slider)
